<app-menu></app-menu>
<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th colspan="6"><h4>Request</h4></th>
          </tr>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Rejection Reason</th>
            <th>Status</th>
            <th>Total</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{request.id}}</td>
            <td>{{request.description}}</td>
            <td>{{request.rejectionReason}}</td>
            <td>{{request.status}}</td>
            <td>{{request.total | currency}}</td>
            <td>{{request.username}}</td>
        </tr>
    </tbody>
</table>
<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th colspan="5"><h4>Request Lines</h4></th>
          </tr>
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rl of request.requestLines">
            <td>{{rl.id}}</td>
            <td>{{rl.product !== undefined ? rl.product.name : "missing"}}</td>
            <td>{{rl.quantity}}</td>
            <td>{{(rl.product !== undefined ? rl.product.price : -1) | currency}}</td>
            <td>{{rl.quantity * (rl.product !== undefined ? rl.product.price : -1)}}</td>
        </tr>
    </tbody>
</table>
<div class="container">
    <button (click)="showRejectionReason()" class="btn btn-danger ">Reject</button>
    <span *ngIf="showRejection">
        <span> | <input [(ngModel)]="request.rejectionReason"></span>
        <span> | <button (click)="reject(request)" class="btn btn-danger">Verify Reject</button></span>
    </span>
    <div>
        <button (click)="approve(request)" class="btn btn-success ">Approve</button>
    </div>
</div>