<app-menu></app-menu>
<p>Request Delete</p>
<div *ngIf="request">
  <table name="req" class="table table-sm table-striped table-hover">
    <thead>
      <tr>
        <label>Request</label>
      </tr>
      <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Justification</th>
        <th *ngIf="request.rejectionReason">Rejection Reason</th>
        <th>Delivery Mode</th>
        <th>Status</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input [(ngModel)]="request.id" type="text" disabled /></td>
        <td>
          <input [(ngModel)]="request.description" type="text" disabled />
        </td>
        <td>
          <input [(ngModel)]="request.justification" type="text" disabled />
        </td>
        <td *ngIf="request.rejectionReason">
          <input [(ngModel)]="request.rejectionReason" type="text" disabled />
        </td>
        <td>
          <input [(ngModel)]="request.deliveryMode" type="text" disabled />
        </td>
        <td><input [(ngModel)]="request.status" type="text" disabled /></td>
        <td><input [(ngModel)]="request.total" type="text" disabled /></td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <button (click)="remove()" class="btn btn-danger">Delete</button>
    <span *ngIf="confirmDelete">
      <span> | </span>
      <button (click)="confirm()" class="btn btn-danger">Verify Delete</button>
    </span>
  </div>
</div>
