<app-menu></app-menu> <span>User List</span> |
<a routerLink="/users/create">Create</a>
<div>
  <label>Search: </label>
  <input [(ngModel)]="searchCrit" type="text" />
</div>
<table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>User Name</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Reviewer</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.firstname }} {{ user.lastname }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.isAdmin }}</td>
      <td>{{ user.isReviewer }}</td>
      <td>
        <a routerLink="/users/detail/{{ user.id }}">Detail</a> |
        <a routerLink="/users/edit/{{ user.id }}">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
