<app-menu></app-menu>
<p>product-create works!</p>
<div>
  <label>Id: </label>
  <input placeholder="Id" type="text" />
</div>
<div>
  <label>PartNbr: </label>
  <input placeholder="Part Number" type="text" />
</div>
<div>
  <label>Name: </label>
  <input placeholder="Name" type="text" />
</div>
<div>
  <label>Price: </label>
  <input placeholder="Price" type="text" />
</div>
<div>
  <label>Unit:</label>
  <input placeholder="Unit" type="text" />
</div>
<button class="btn btn-warning">Clear</button>
<button class="btn btn-success">Create</button>
