<app-menu></app-menu>
<div>
  <label>Search:</label>
  <input [(ngModel)]="searchCrit" placeholder="Enter Request Info" type="text" />
</div>
<table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      <th colspan="9"><h4>Request List</h4></th>
    </tr>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Justification</th>
      <th>Rejection Reason</th>
      <th>Delivery Mode</th>
      <th>Status</th>
      <th>Total</th>
      <th>User</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of requests | requestSearch: searchCrit">
      <td>{{ request.id }}</td>
      <td>{{ request.description }}</td>
      <td>{{ request.justification }}</td>
      <td>{{ request.rejectionReason }}</td>
      <td>{{ request.deliveryMode }}</td>
      <td>{{ request.status }}</td>
      <td>{{ request.total | currency }}</td>
      <td>{{ request.userName }}</td>
      <td>
        <a routerLink="/requests/detail/{{ request.id }}">Delete</a> |
        <a routerLink="/requests/edit/{{ request.id }}">Edit</a> |
        <a routerLink="/requests/lines/{{ request.id }}">Lines</a>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr><td colspan="9"><h4><a routerLink="/requests/create">Add Request</a></h4></td></tr>
  </tfoot>
</table>
