<app-menu></app-menu>
<span>Request List</span> |
<a routerLink="/requests/create">Create</a>
<div>
  <label>Search:</label>
  <input [(ngModel)]="searchCrit" placeholder="Enter Product Info" type="text" />
</div>
<table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Justification</th>
      <th>Rejection Reason</th>
      <th>Delivery Mode</th>
      <th>Status</th>
      <th>Total</th>
      <th>User</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of requests | requestSearch: searchCrit">
      <td>{{ request.id }}</td>
      <td>{{ request.description }}</td>
      <td>{{ request.justification }}</td>
      <td>{{ request.rejectionReason }}</td>
      <td>{{ request.deliveryMode }}</td>
      <td>{{ request.status }}</td>
      <td>{{ request.total | currency }}</td>
      <td>{{ request.userName }}</td>
      <td>
        <a routerLink="/requests/detail/{{ request.id }}">Detail</a> |
        <a routerLink="/requests/edit/{{ request.id }}">Edit</a> |
        <a routerLink="/requests/lines/{{ request.id }}">Lines</a>
      </td>
    </tr>
  </tbody>
</table>
