<div class="startpage">
  <h1>Max Design</h1>
  <img
    src="\assets\img\start.svg"
    alt="Techy look tablet and phone!"
    class="startimg"
  />
  <br />
  <button
    onclick="document.getElementById('loginid').style.display='block'"
    style="margin-top: 10px"
    class="btn btn-lg btn-success"
  >
    Login
  </button>
</div>

<div id="loginid" class="modal">
  <form class="modal-content animate">
    <div class="imgcontainer">
      <span
        onclick="document.getElementById('loginid').style.display='none'"
        class="close"
        title="Exit"
        >&times;</span
      >
      <img
        src="\assets\img\login.svg"
        alt="Buisness woman at computer"
        class="logimg"
      />
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input
        [(ngModel)]="username"
        class="form-control"
        type="text"
        placeholder="Enter Username"
        name="uname"
        required
      />

      <label for="psw"><b>Password</b></label>
      <input
      [(ngModel)]="password"
        class="form-control"
        type="password"
        placeholder="Enter Password"
        name="psw"
        required
      />
      <p>{{msg}}</p>
      <button
        (click)="login()"
        class="container btn btn-success"
        type="submit"
      >
        Enter
      </button>
    </div>
  </form>
</div>
